main{
  text-align:center;
  width: 385px;
  margin-left:auto;
  margin-right:auto;
}
input{
  width: 75%;
  margin: 5px;
}
button{
  margin: 5px;
}
hr{
  border: 1px solid black;
  width: 100%;
}
.pageWrap{
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#resumeDisplay{
  text-align:left;
}

